* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

 body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.5;
 }

 h1 {
    font-size: 64px;
    
 }
 h1, .s1p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;

 }
 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.container {
    /* width: 60%;
    margin:auto;
    padding: 64px 0; */
    max-width: 980px;
    margin: 0 auto ;
    padding: 64px 0;

}

    

h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 15px, 0px, 15px, 0px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;

}

.s2p {
    color: #757575;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
   
}

h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #f1f1f1;

}
.photo {
    letter-spacing: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #757575;
}

.section3 p {
    letter-spacing: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #757575; 

}

.progress{
    background-color: #616161;
    height: 29px;
    width: 100%;
}
.bar1 {
    background-color: white;
    height: 28px;
    width: 90%;

}
.bar2 {
    background-color: white;
    height: 28px;
    width: 80%;

}

.bar3 {
    background-color: white;
    height: 28px;
    width: 70%;

}

.con1 {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 16px 50px;
    margin: 30px 0;
    height: 90px;

}

.bx {
    text-align: center;
    color: #000;
   

}
.bx span {
    font-size: 20px;
    display: block;
}

.button1 {
    font-size: 17px;
    font-weight: 400;
    padding: 12px 30px;
    margin: 16px 0px;
    background-color: white; 
    font-family: "Montserrat", sans-serif;
    color: black; 
    border: none;
    border-radius: 2px;
}
.button1:hover {
  background-color: gainsboro;
  color: white;
}
i{
    color: #000;
}
.payment {
    display: flex;
    gap: 5x;
}
ul{
    background-color: #616161;
    list-style: none;
    width: 560px;
    text-align: center;
   
}

ul li {
    background: #757575;
    border-bottom: 1px solid #757575;
    padding: 16px 0;
    color: #000;

}

.headerList {
    background-color: #272727;
    padding: 32px 16px;
    font-size: 24px;
    color: #fff;
}

.payment1:hover li,
.payment2:hover li  {
    color: #000;
    background-color: #f1f1f1;
}

.payment1:hover .headerList,
.payment2:hover .headerList  {
    background-color: #8d8d8d;
}

ul button {
    -webkit-text-size-adjust: 100%;
    list-style-type: none;
    box-sizing: inherit;
    font: inherit;
    margin: 0;
    text-transform: none;
    /* -webkit-appearance: button; */
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    padding: 12px 24px!important;
    color: #000!important;
    background-color: #fff!important;
    margin: 20px 0 20px 0;
}

ul .paymentBtn1 {
    background-color: #272727;
}

.clientimg {
    float: left;
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
.clients {
    color: #757575;
    font-size: 17px;
}
.chris {
    margin-right: 10px;
}

.client1 {
    margin: 15px 0;
}

.container2 {
    gap: 20px;
    max-width: 980px;
    margin: 0 auto ;
    padding: 64px 0;
}

.gridphoto {
    width: 481px;
    height: 301px;
    display: table;
}

.pic1 {
    margin-bottom: 12px;
}
.section4 {
    padding:0 8px;
}

.container3 {
    max-width: 980px;
    margin: 0 auto ;
    padding: 64px 0;
}
.contactinfo {
    margin-top: 16px;
    margin-bottom: 16px;
}
.s3p {
    color: #757575;
}
div .s3p{
    margin: 16px 0;
}
