* {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: inherit;

}

/* section {
    padding: 50px; 
  }  */

section img {
    justify-content: center;
    align-items: center;
    margin-left: 20%;
  
}

.sec1 h1 {
    text-align: center;
    color: white;
    padding-top: 5%;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
}

.sec1 p{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;

}

/* .sec2 h2 {
    color: white;
    margin-left: 20%;
    padding-top: 20px;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
} */

/* hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
 
} */

/* .sec2 p {
    font: 15px;
    color: white;
    text-align: center;
    margin: 15px;
    
} */

/* .sec2 h3 {
    color: white;
    margin-left: 20%;
    padding-top: 20px;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
} */

.sec2div {
    color: #fff;
    width: 70%;
    margin: auto;
}

.sec2div p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
}

.sec3div {
    background-color: blue;
}

.container {
  width: 100%; 
  background-color: #ddd; 
}

.skills { 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}


.html {width: 90%; background-color: #616161!important;} 
.css {width: 80%; background-color: #616161!important;} 
.js {width: 65%; background-color: #616161!important;} 

.sec3 {
    margin-left: 15%;
    margin-right: 14%;
    padding: 5, 0, 5, 0 ;
}
.sec3 p {
    color: #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
}